<div class="contents clearfix">
  <!-- 新着の評価が高評価 -->
  <% rate_name = "-新着- 高評価の本【総合評価】" %>
  <%= render 'books/index_separator',rate_name: rate_name, names: @fundamental_names, books: @recommendation_new_books %>

  <!-- 全図書の評価が高評価 -->
  <% rate_name = "高評価の本【総合評価】" %>
  <%= render 'books/index_separator',rate_name: rate_name, names: @fundamental_names, books: @recommendation_all_books %>

  <!-- 年代別おすすめ -->
  <% rate_name = "世代別おすすめの本【社会人(〜20代)】" %>
  <%= render 'books/index_separator',rate_name: rate_name, names: @generation_names, books: @recommendation_generation_books %>
</div>
