<div class="contents clearfix">
  <!-- 新着の評価が高評価 -->
  <%# params[:view_rates][0] == "0" unless params[:view_rates]  %>
  <%= render 'books/index_separator',num: 0, names: @fundamental_names, books: @recommendation_new_books, averages: @recommendation_new_books_rate_averages %>

  <!-- 全図書の評価が高評価 -->
  <%= render 'books/index_separator',num: 1, names: @fundamental_names, books: @recommendation_all_books, averages: @recommendation_all_books_rate_averages %>

  <!-- 年代別おすすめ -->
  <%= render 'books/index_separator',num: 2, names: @generation_names, books: @recommendation_generation_books, averages: @recommendation_generation_books_rate_averages %>
</div>
