<div class="contents clearfix">
  <div class="book-info-detail">
    <h2 class="book-title"><%= @book.book_title %></h2>
    <div class="book-info-left">
      <div class="book-image-box2">
        <%= image_tag("#{@book.book_img_url}", :class =>"book-image2") %>
      </div>
      <!-- レートの星と数字の表示 -->
      <div class="show-overall-rate">
        <div class="show-overall-rate-star">
          <span class="rate rate30"></span>
        </div>
        <div class="show-overall-rate-val">
          <span class="">3.0</span>
        </div>
      </div>

    </div>
    <div class="book-info-right">

    </div>

  </div>

  <div class="reviews-container">
    <h4>◆評価・レビュー</h4>
    <div class="review-rate clearfix">
      <% reviews = Array.new(5) %>
      <% reviews.each do |review| %>
        <div class="book-rate">

        </div>
        <div class="book-review">

        </div>
      <% end %>
    </div>
  </div>

  <div class="review-titles-container">
    <h4>レビュー一覧</h4>
    <% reviews.each do |review| %>
      <div class="review-title">

      </div>
    <% end %>
  </div>

</div>
