<div class="contents clearfix">
  <div class="book_info_detail">
    <h2 class="book-title"><%= @book.book_title %></h2>
    <div class="book_info_left">
      <div class="book_image_box2">
        <%= image_tag("#{@book.book_img_url}", :class =>"book_image2") %>
      </div>
    </div>
    <div class="book_info_right">

    </div>

  </div>

  <div class="reviews-container">
    <h4>◆評価・レビュー</h4>
    <div class="review-rate clearfix">
      <% reviews = Array.new(5) %>
      <% reviews.each do |review| %>
        <div class="book-rate">

        </div>
        <div class="book-review">

        </div>
      <% end %>
    </div>
  </div>

  <div class="review-titles-container">
    <h4>レビュー一覧</h4>
    <% reviews.each do |review| %>
      <div class="review-title">

      </div>
    <% end %>
  </div>

</div>
