<div class="contents clearfix">
  <div class="book_info_detail">
    <h4 class="book-title"><%= @book.book_title %></h4>
    <div class="book_info_left">
      <div class="book_image2">
        <%= image_tag("#{@book.book_img_url}") %>

      </div>
    </div>
    <div class="book_info_right">

    </div>
  </div>

</div>
