// コンテンツ index
.contents {
  width: 950px;
  min-height: 800px;
  margin: 0 auto;
  padding: 56px 10px 15px 10px;
  background-image: image-url("washi2.jpg");
  // background-color:rgba(255,255,255,1.0);
  box-shadow: 3px 10px 10px 8px  rgba(0,0,0,0.4);
}
.recommendation-content {
  width: 860px;
  height: 250px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

// おすすめコンテンツひとつ分
.recommendation-header{
  height: 35px;
  margin: 0px 10px;
  padding: 10px 0 0 0 ;
  border-bottom:solid 2px gray;
}
.recommendation-link{
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.recommendation-detail{
  color: gray;
  font-size: 14px;
}

.recommendation-right-dropdown{
  float: right;
  z-index: 100;
  opacity: 0.92;
  font-size: 14px;
}
.recommendation-right-dropdown > a{
  vertical-align: middle;
}

.book-image-box1{
  float: left;
  height: 200px;
  width: 160px;
  margin: 5px 0 0 10px;
  background-color: white;
}

// トップページへの評価の表示
.show-top-rate{
  height: 40px;
  width: 160px;
}

.show-top-rate-star{
  float: left;
  height: 40px;
  width: 110px;
  padding: 12px 4px 12px 20px;
}

.show-top-rate-val{
  float: left;
  height: 40px;
  width: 50px;
  padding: 8px 0;
  font-size: 18px;
  // font-weight: bold;
}
