//上部本情報
.book-title{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.book-info-detail{
  width: 860px;
  min-height: 410px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

.book-info-left{
  float: left;
  height: 350px;
  width: 240px;
  margin: 5px 20px;
  background-color: rgba(255,255,255,1.0);
}

.book-image-box2{
  position: relative;
  height: 310px;
  width: 240px;
  // background-color: rgba(255,255,255,1.0);
}

.book-image2{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.book-info-right{
  float: left;
  height: 350px;
  width: 550px;
  margin: 5px 10px;
  background-color: black;
}

// レビュー表示
.headline{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.reviews-container{
  float: left;
  width: 860px;
  min-height: 900px;
  margin: 15px 0 0 35px;
  background-color:rgba(255,255,255,0.7);
}

.review-rate{
  min-height: 150px;//後で変更
  margin: 10px;
  background-color: black;//後で変更
}

.book-rate{
  float: left;
  width: 300px;
  min-height: 150px;//後で変更
  margin: 5px 5px 5px 20px;
  background-color: white;//後で変更
}

.book-review{
  float: left;
  width: 510px;
  min-height: 150px;//後で変更
  margin: 5px 20px 5px 5px;
  background-color: white;//後で変更
}

// .review-titles-container{
//   float: left;
//   width: 240px;
//   min-height: 600px;
//   margin: 15px 0 0 20px;
//   background-color:rgba(255,255,255,0.7);
// }
//
// .review-title{
//   min-height: 30px;//後で変更
//   margin: 10px;
//   background-color: black;//後で変更
// }

// 総合評価の表示
.show-overall-rate{
  height: 40px;
  width: 240px;
}

.show-overall-rate-star{
  float: left;
  height: 40px;
  width: 165px;
  padding: 8px 6px 8px 31px;
}

.show-overall-rate-val{
  float: left;
  height: 40px;
  width: 75px;
  font-size: 28px;
  font-weight: bold;
}
