body {
  margin: 0 auto;
  background-image: url('木目1-2.png');
  font-size: 14px;
  color: #333;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 10px 0;
}

// 多用しそう
.link-hover-blue:hover{
  color: #1b95e0;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

//ヘッダー
header{
  position: fixed;
  z-index: 1000;
  height: 46px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  background-color: black;
  opacity: 0.92;
  color: white;
}

.shosainav{
  position: relative;
  justify-content: space-between;
  height: 46px;
  max-width: 950px;
  min-width: 660px;
  width: 100%;
  margin: 0 auto;
}

// ヘッダー左側
.left-nav{
  float: left;
  height: 46px;
}

.header-top-link{
  float: left;
  height: 46px;
}

.header-top-link > a{
  display: block;
  line-height: 1;
  height: 46px;
  padding: 0 8px;
  color: inherit;
  font-size: 13px;
  font-weight: bold;
}

.header-top-link a:hover{
  opacity:0.7;
}

.header-top-link >a .text {
  display: block;
  float: left;
  padding: 14px 0;
  font-size: 18px;
}

.left-nav > div{
  float: left;
}

.left-nav-search{
  display: block;
}

.left-nav-search > div{
 display: block;
 float: left;
 margin: 6px;
}

.left-nav-search > button{
 display: block;
 float: left;
 margin: 6px 0;
}

#left-nav-input{
  width: 220px;
}


// ヘッダー右側
.right-nav{
  float: right;
  height: 46px;
}

.right-nav-list{
  list-style: none;
  padding: 0;
}

.right-nav-list > li{
  float: left;
  height: 46px;
}

.right-nav-list > li > a{
  display: block;
  line-height: 1;
  height: 46px;
  padding: 0 8px;
  color: inherit;
  font-size: 13px;
  font-weight: 500;
}

.right-nav-list > li > a:hover{
  opacity:0.7;
}

.right-nav-list > li > a .text {
  display: block;
  float: left;
  padding: 16.5px 0;
}

.header-prof-img{
  float: left;
  height: 40px;
  border-radius: 4px;
  margin: 3px;
}
.hedder-dropdown{
  transform: translateY(-10px);
}


// コンテンツ
.contents {
  width: 950px;
  min-height: 950px;
  margin: 0 auto;
  padding: 56px 10px 10px 10px;
  background-image: url("和紙白2.jpg");
  // background-color:rgba(255,255,255,1.0);
  box-shadow: 3px 10px 10px 8px  rgba(0,0,0,0.4);
}
.recommendation-content {
  width: 860px;
  height: 250px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

// おすすめコンテンツひとつ分
.recommendation-header{
  height: 35px;
  margin: 0px 10px;
  padding: 10px 0 0 0 ;
  border-bottom:solid 2px gray;
}
.recommendation-link{
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.recommendation-detail{
  color: gray;
  font-size: 14px;
}

.recommendation-right-dropdown{
  float: right;
  z-index: 100;
  opacity: 0.92;
  font-size: 14px;
}
.recommendation-right-dropdown > a{
  vertical-align: middle;
}

.show-book1{
  float: left;
  height: 200px;
  width: 160px;
  margin: 5px 0 0 10px;
  background-color: black;
}

footer {
  min-width: 890px;
  height:28px;
}
