//上部本情報
.book-title{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.book-info-detail{
  width: 860px;
  min-height: 410px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

.book-info-left{
  float: left;
  height: 350px;
  width: 240px;
  margin: 5px 20px;
  background-color: rgba(255,255,255,1.0);
}

.book-image-box2{
  position: relative;
  height: 310px;
  width: 240px;
  // background-color: rgba(255,255,255,1.0);
}

.book-image2{
  position: absolute;
  bottom: 0;
  width: 100%;
}
// 総合評価の表示
.show-overall-rate{
  height: 40px;
  width: 240px;
}

.show-overall-rate-star{
  float: left;
  height: 40px;
  width: 165px;
  padding: 8px 6px 8px 31px;
}

.show-overall-rate-val{
  float: left;
  height: 40px;
  width: 75px;
  font-size: 28px;
  font-weight: bold;
}

// 右側本の情報
.book-info-right{
  float: left;
  height: 350px;
  width: 550px;
  margin: 5px 10px;
  background-color: black;
}

// 評価・レビュー表示
.headline{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.show-review-rate{
  width: 830px;
  min-height: 220px;
  margin: 5px 15px;
  padding: 0 5px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: white;
}

.show-user{
  padding-top: 5px;
  font-size: 13px;
  color: gray;
}


.reviews-container{
  float: left;
  width: 860px;
  min-height: 900px;
  margin: 15px 0 0 35px;
  background-color:rgba(255,255,255,0.7);
}

// 評価表示
.show-book-rate{
  float: left;
  width: 365px;
  min-height: 150px;//後で変更
  background-color: white;//後で変更
}

//各評価外枠
.show-basic-rate-contribute{
  float: left;
  width: 180px;
  height: 216px;
  margin-right: 5px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color:rgba(255,255,255,0.7);
}

.show-generation-rate-contribute{
  float: left;
  width: 180px;
  height: 216px;
  // margin: 0px 0px 10px 10px ;
  border: 2px solid gray;
  border-radius: 8px;
  background-color:rgba(255,255,255,0.7);
}

// 評価内枠
.show-rate-title{
  padding: 7px ;
  border-bottom: 1px solid gray;
  font-size: 12px;
  font-weight: bold;
}

.show-rate{
  display: table;
  padding: 3px 7px;
  width: 176px;
  font-size: 12px;
}

.show-rate dt{
  display: table-cell;
  vertical-align: middle;
  color: #13131e;
  font-weight: normal;
}

.show-rate dd{
  display: table-cell;
  text-align: right;
}

.show-no-rate{
  padding-right: 20px;
  color: gray;
}

// レビュー表示
.show-book-review{
  float: left;
  width: 445px;
  min-height: 220px;
  background-color: white;//後で変更
}

.show-review-title{
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.show-review{
  padding: 0 0 5px 10px;
  font-size: 13px;
}
