// 共通
body {
  margin: 0 auto;
  background-image: url('木目1-2.png');
  font-size: 14px;
  color: #333;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 10px 0;
}

// 多用しそう
.link-hover-blue:hover{
  color: #1b95e0;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

//ヘッダー
header{
  position: fixed;
  z-index: 1000;
  height: 46px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  background-color: black;
  opacity: 0.92;
  color: white;
}

.shosainav{
  position: relative;
  justify-content: space-between;
  height: 46px;
  max-width: 950px;
  min-width: 660px;
  width: 100%;
  margin: 0 auto;
}

// ヘッダー左側
.left-nav{
  float: left;
  height: 46px;
}

.header-top-link{
  float: left;
  height: 46px;
}

.header-link{
  display: block;
  line-height: 1;
  height: 46px;
  padding: 16.5px 8px;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-weight: 500;
}

.shosai-text{
  padding: 14px 8px;
  font-size: 18px;
  font-weight: bold;
}

.header-link:hover{
  opacity:0.7;
  color: inherit;
  text-decoration: none;
}

.left-nav > div{
  float: left;
}

.left-nav-search{
  display: block;
}

.left-nav-search > div{
 display: block;
 float: left;
 margin: 6px;
}

.left-nav-search > button{
 display: block;
 float: left;
 margin: 6px 0;
}

#left-nav-input{
  width: 220px;
}


// ヘッダー右側
.right-nav{
  float: right;
  height: 46px;
}

.right-nav-list{
  list-style: none;
  padding: 0;
}

.right-nav-list > li{
  float: left;
  height: 46px;
}

.header-prof-img{
  float: left;
  transform: translateY(-16.5px);
  height: 40px;
  border-radius: 4px;
  margin: 3px;
  padding: 0;
}
.hedder-dropdown{
  transform: translateY(-10px);
}

footer {
  min-width: 890px;
  height:28px;
}


// コンテンツ index
.contents {
  width: 950px;
  min-height: 950px;
  margin: 0 auto;
  padding: 56px 10px 15px 10px;
  background-image: url("和紙白2.jpg");
  // background-color:rgba(255,255,255,1.0);
  box-shadow: 3px 10px 10px 8px  rgba(0,0,0,0.4);
}
.recommendation-content {
  width: 860px;
  height: 250px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

// おすすめコンテンツひとつ分
.recommendation-header{
  height: 35px;
  margin: 0px 10px;
  padding: 10px 0 0 0 ;
  border-bottom:solid 2px gray;
}
.recommendation-link{
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.recommendation-detail{
  color: gray;
  font-size: 14px;
}

.recommendation-right-dropdown{
  float: right;
  z-index: 100;
  opacity: 0.92;
  font-size: 14px;
}
.recommendation-right-dropdown > a{
  vertical-align: middle;
}

.book_image_box1{
  float: left;
  height: 200px;
  width: 160px;
  margin: 5px 0 0 10px;
  background-color: black;
}

// showファイル作成時追加
.book-title{
  padding: 10px 20px;
}

.book_info_detail{
  width: 860px;
  min-height: 410px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

.book_info_left{
  float: left;
  height: 350px;
  width: 240px;
  margin: 5px 20px;
  background-color: black;
}

.book_image_box2{
  position: relative;
  float: left;
  height: 300px;
  width: 240px;
  background-color: rgba(255,255,255,1.0);
}

.book_image2{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.book_info_right{
  float: left;
  height: 350px;
  width: 550px;
  margin: 5px 10px;
  background-color: black;
}

.reviews-container{
  float: left;
  width: 600px;
  min-height: 900px;
  margin: 15px 0 0 35px;
  background-color:rgba(255,255,255,0.7);
}

.review-rate{
  min-height: 150px;//後で変更
  margin: 10px;
  background-color: black;//後で変更
}

.book-rate{
  float: left;
  width: 180px;
  min-height: 150px;//後で変更
  margin: 5px;
  background-color: white;//後で変更
}

.book-review{
  float: left;
  width: 380px;
  min-height: 150px;//後で変更
  margin: 5px;
  background-color: white;//後で変更
}

.review-titles-container{
  float: left;
  width: 240px;
  min-height: 600px;
  margin: 15px 0 0 20px;
  background-color:rgba(255,255,255,0.7);
}

.review-title{
  min-height: 30px;//後で変更
  margin: 10px;
  background-color: black;//後で変更
}
