
.rate-contribute{
  width: 860px;
  min-height: 355px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

//各評価外枠
.basic-rate-contribute{
  float: left;
  width: 260px;
  height: 305px;
  margin: 0 10px 10px 20px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color:rgba(255,255,255,0.7);
}

.generation-rate-contribute{
  float: left;
  width: 260px;
  height: 305px;
  margin: 0px 10px 10px 10px ;
  border: 2px solid gray;
  border-radius: 8px;
  background-color:rgba(255,255,255,0.7);
}

.trouble-rate-contribute{
  float: left;
  width: 260px;
  height: 305px;
  margin: 0 20px 10px 10px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color:rgba(255,255,255,0.7);
}

.rate-title{
  padding: 10px ;
  border-bottom: 1px solid gray;
  font-size: 16px;
  font-weight: bold;
}

// 各評価テーブル
.new-rate{
  display: table;
  padding: 3px 10px;
  width: 256px;
  font-size: 16px;
}

.new-rate dt{
  display: table-cell;
  vertical-align: middle;
  color: #13131e;
  font-weight: normal;
}

.new-rate dd{
  display: table-cell;
  text-align: right;
}


// レビュー
.new-review-contribute{
  width: 860px;
  min-height: 410px;
  margin: 15px auto;
  background-color:rgba(255,255,255,0.7);
}

.review-contribute-button{
  width: 120px;
  margin: 5px 0;
  font-weight: bold;
}
