<div class="contents clearfix">
  <div class="book-info-detail">
    <h2 class="book-title"><%= @book.book_title %></h2>
    <div class="book-info-left">
      <div class="book-image-box2">
        <%= image_tag("#{@book.book_img_url}", :class =>"book-image2") %>
      </div>
    </div>
    <div class="book-info-right">

    </div>

  </div>










</div>
