<div class="contents clearfix">
  <div class="book-info-detail">
    <h2 class="book-title"><%= @book.book_title %></h2>
    <div class="book-info-left">
      <div class="book-image-box2">
        <%= image_tag("#{@book.book_img_url}", :class =>"book-image2") %>
      </div>
      <!-- レートの星と数字の表示 -->
      <div class="show-overall-rate">
        <div class="show-overall-rate-star">
          <span class="rate rate30"></span>
        </div>
        <div class="show-overall-rate-val">
          <span class="">3.0</span>
        </div>
      </div>

    </div>
    <div class="book-info-right">

    </div>
  </div>
  <div class="rate-contribute">
    <h3 class="book-title">評価</h3>
    <div class="basic-rate-contribute">
      <h4 class="rate-title">基本評価</h4>
      <dl class="basic-rate">
        <dt>総合評価</dt>
        <dd>5</dd>
      </dl>
      <dl class="basic-rate">
        <dt>人生を変えた本</dt>
        <dd>5</dd>
      </dl>
      <dl class="basic-rate">
        <dt>学びを得られた本</dt>
        <dd>5</dd>
      </dl>
      <dl class="basic-rate">
        <dt>共感できた本</dt>
        <dd>5</dd>
      </dl>
      <dl class="basic-rate">
        <dt>面白い本</dt>
        <dd>5</dd>
      </dl>
      <dl class="basic-rate">
        <dt>感動した本</dt>
        <dd>5</dd>
      </dl>
    </div>
    <div class="generation-rate-contribute">
      <h4 class="rate-title">世代別おすすめ度評価</h4>
      <dl class="generation-rate">
        <dt>小学生以下</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>中学生</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>高校生</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>大学生</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>社会人(~20代)</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>社会人(30代、40代)</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>社会人(50代~)</dt>
        <dd>5</dd>
      </dl>
      <dl class="generation-rate">
        <dt>退職後</dt>
        <dd>5</dd>
      </dl>

    </div>

    <div class="trouble-rate-contribute">
      <h4 class="rate-title">悩み評価</h4>
      

    </div>
  </div>

  <div class="new-review-contribute clearfix">
    <h3 class="book-title">レビュー投稿</h3>

  </div>





</div>
